body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    border: solid;
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 60vw;
    height: 90vh;

}


.row {
    display: flex;
    flex: 1;
}

.newDiv {
    flex: 1;
    border: solid;
}

.paint {
    background-color: rgb(255, 255, 255);
}